@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,400;1,600&display=swap');

:root {
    /* --kuning: #f9ca24;
    --gradient: linear-gradient(deeppink, purple);
    --pink: deeppink;
    --custom: linear-gradient(45deg, blueviolet, lightgreen); */
    /* --hijau: #3867d6; */
    --hijau: #20bf6b;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    color: #fff;
}

*::selection {
    background: var(--hijau);
    color: #333;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}

html::-webkit-scrollbar-thumb {
    background: var(--hijau);
}

body {
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: #222;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: .5rem;
}

.btn i {
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background: var(--hijau);
    color: #fff;
}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    color: #fff;
}

.lead{
    text-align: center;
    margin: .5rem 1rem;
    font-size: 2.3rem;
    padding: 1rem;
    color: #eee;
    letter-spacing: 1px;
}

.heading span {
    color: var(--hijau);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img {
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1rem;
    border: .7rem solid var(--hijau);
}

header .user .name {
    font-size: 2.5rem;
    color: #fff;
}

header .user .post {
    font-size: 2rem;
    color: #eee;
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover {
    background: var(--hijau);
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
    padding-bottom: 10rem;
    padding: 0 15rem;
}

.home h4 {
    font-size: 1.8rem;
    color: #fff;
}

.home h2 {
    font-size: 3.7rem;
    color: #fff;
}

.home h2 span {
    color: var(--hijau);
}

.home p {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}

.home #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home .content {
    text-align: center;
    position: relative;
    z-index: 1;
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image {
    text-align: center;
    flex: 1 1 25rem;
}

.about .row .image img {
    width: 27rem;
    border-radius: 50%;
    border: 1rem solid var(--hijau);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}

.about .row .content {
    flex: 1 1 55rem;
}

.about .row .content h3 {
    color: #eee;
    font-size: 4rem;
}

.about .row .content h3 span {
    color: var(--hijau);
}

.about .row .content .info {
    color: #eee;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 2;
}

.about .row .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}

.about .row .content .box-container .box {
    flex: 1 1 20rem;
}

.about .row .content .box-container .box p {
    font-size: 1.7rem;
    color: #eee;
    padding: .5rem 0;
    line-height: 2;
}

.about .row .content .box-container .box p span {
    color: var(--hijau);
}

.skills {
    padding: 15px 9%;
    padding-bottom: 100px;
}

.skills .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 50px;
}

.skills .box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: .5rem;
    background: #222;
    text-align: center;
    padding: 25px 20px;
}

.skills .box-container .box img {
    height: 50px;
}

.skills .box-container .box h3 {
    color: #eee;
    font-size: 22px;
    padding: 10px 0;
}

.skills .box-container .box p {
    color: #777;
    font-size: 1.5rem;
    line-height: 1.8;
}

.skills .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}

.portfolio .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.portfolio .container .kotak {
    flex: 1 1 30rem;
    border-radius: .5rem;
    border: .7rem solid #222;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
    height: 21rem;
}

.portfolio .container .kotak img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .container .kotak .content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: #fff9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .container .kotak:hover .content {
    left: 0;
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: lowercase;
}

.contact .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: #333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
}

.contact .row form .message {
    height: 15rem;
    resize: none;
}

.contact .row .content .title {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: var(--hijau);
}

.alert {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.alert .modal {
    background-color: #848188;
    width: 100%;
    padding: 24px;
    border-radius: 8px;
    max-width: 400px;
    animation-name: slide-down;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
}

@keyframes slide-down {
    0% {
        transform: scale(0.85) translateY(-300px);
    }
    100% {
        transform: scale(1) translateY(0px);
    }
}


.theme-toggler {
    position: fixed;
    top: 10rem;
    right: -20rem;
    background: #333;
    z-index: 100;
    width: 20rem;
    text-align: center;
}

.theme-toggler.active {
    right: 0;
}

.theme-toggler h3 {
    color: #fff;
    padding: 1rem 0;
    font-size: 2rem;
}

.theme-toggler .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.theme-toggler .buttons .theme-btn {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    cursor: pointer;
}

.theme-toggler .toggle-btn {
    position: absolute;
    top: 0;
    left: -6rem;
    padding: 1.3rem 1.5rem;
    background: #333;
    cursor: pointer;
}

.theme-toggler .toggle-btn i {
    color: #fff;
    font-size: 3rem;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
}

.footer {
    padding: 2.5rem;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.footer span {
    color: var(--hijau);
}

.top {
    position: fixed;
    bottom: 3.5rem;
    right: 2rem;
    z-index: 1000;
    display: none;
}

.top img {
    width: 8rem;
    animation: float 3s linear infinite;
}

@keyframes float {

    100%,
    0% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-3rem);
    }
}

/*media-query*/
@media (max-width:1200px) {
    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 4rem;
    }
}


@media (max-width:991px) {
    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    header.toggle {
        left: 0%;
    }

    body {
        padding: 0;
    }
}

@media (max-width:768px) {
    html {
        font-size: 50%;
    }

    .skills .box-container {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    .skills .box-container .box img {
        height: 50px;
    }
}

@media (max-width:400px) {
    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }

    .about .row .counter .box {
        width: 100%;
    }

    .skills .box-container {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    .skills .box-container .box img {
        height: 50px;
    }

    .portfolio .box-container .box {
        width: 100%;
    }

    .contact .row form {
        margin: 3rem 0;
    }
}